name: Conventional Commits

on:
  pull_request:

jobs:
  commit_check:
    name: Conventional Commits
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: webiny/action-conventional-commits@v1.3.1
        with:
          allowed-commit-types: "feat,fix,chore,style,refactor,perf,test,build,ci"
